ENTER THE REQUISITE INFORMATION: <br /><br />
<form action="/prediction" method='POST'>
    Your Card Type (if pocket pair just select single card): <br />
    Ace  :<input name="card" type="checkbox" value="Ace" /><br />
    King :<input name="card" type="checkbox" value="King" /><br />
    Queen:<input name="card" type="checkbox" value="Queen" /><br />
    Jack :<input name="card" type="checkbox" value="Jack" /><br />
    10   :<input name="card" type="checkbox" value="10" /><br />
    9    :<input name="card" type="checkbox" value="9" /><br />
    8    :<input name="card" type="checkbox" value="8" /><br />
    7    :<input name="card" type="checkbox" value="7" /><br />
    6    :<input name="card" type="checkbox" value="6" /><br />
    5    :<input name="card" type="checkbox" value="5" /><br />
    4    :<input name="card" type="checkbox" value="4" /><br />
    3    :<input name="card" type="checkbox" value="3" /><br />
    2    :<input name="card" type="checkbox" value="2" /><br/><br/>

    Suited (check if so)<input name="suited" type="checkbox" value="suited" /><br/><br/>
    Number of Limpers:
    0<input name="limp" type="checkbox" value="0" />
    1<input name="limp" type="checkbox" value="1" />
    2<input name="limp" type="checkbox" value="2" />
    3<input name="limp" type="checkbox" value="3" />
    4<input name="limp" type="checkbox" value="4" />
    5<input name="limp" type="checkbox" value="5" />
    6<input name="limp" type="checkbox" value="6" />
    7<input name="limp" type="checkbox" value="7" />
    8<input name="limp" type="checkbox" value="8" /><br/><br />
    Number of Raises & Reraises
    0<input name="raises&reraises" type="checkbox" value="0" />
    1<input name="raises&reraises" type="checkbox" value="1" />
    2<input name="raises&reraises" type="checkbox" value="2" />
    3<input name="raises&reraises" type="checkbox" value="3" />
    4<input name="raises&reraises" type="checkbox" value="4" /><br /><br />
    Number of Players Yet to act
    0<input name="num_players_after" type="checkbox" value="0" />
    1<input name="num_players_after" type="checkbox" value="1" />
    2<input name="num_players_after" type="checkbox" value="2" />
    3<input name="num_players_after" type="checkbox" value="3" />
    4<input name="num_players_after" type="checkbox" value="4" />
    5<input name="num_players_after" type="checkbox" value="5" />
    6<input name="num_players_after" type="checkbox" value="6" />
    7<input name="num_players_after" type="checkbox" value="7" />
    8<input name="num_players_after" type="checkbox" value="8" /><br/><br />
    Number of Players Having Entered Pot:
    0<input name="num_players_before" type="checkbox" value="0" />
    1<input name="num_players_before" type="checkbox" value="1" />
    2<input name="num_players_before" type="checkbox" value="2" />
    3<input name="num_players_before" type="checkbox" value="3" />
    4<input name="num_players_before" type="checkbox" value="4" />
    5<input name="num_players_before" type="checkbox" value="5" />
    6<input name="num_players_before" type="checkbox" value="6" />
    7<input name="num_players_before" type="checkbox" value="7" />
    8<input name="num_players_before" type="checkbox" value="8" /><br/><br />
    Number of Players at the Table:
    2<input name="num_players" type="checkbox" value="2" />
    3<input name="num_players" type="checkbox" value="3" />
    4<input name="num_players" type="checkbox" value="4" />
    5<input name="num_players" type="checkbox" value="5" />
    6<input name="num_players" type="checkbox" value="6" />
    7<input name="num_players" type="checkbox" value="7" />
    8<input name="num_players" type="checkbox" value="8" />
    9<input name="num_players" type="checkbox" value="9" /><br/><br />
    Your Position (1 for SB, 2 for BB, 3 for UTG, ect.):
    1<input name="position" type="checkbox" value="1" />
    2<input name="position" type="checkbox" value="2" />
    3<input name="position" type="checkbox" value="3" />
    4<input name="position" type="checkbox" value="4" />
    5<input name="position" type="checkbox" value="5" />
    6<input name="position" type="checkbox" value="6" />
    7<input name="position" type="checkbox" value="7" />
    8<input name="position" type="checkbox" value="8" />
    9<input name="position" type="checkbox" value="9" /><br/><br />
    Big Blind:<input type="text" name="BB"></input><br />
    Stack    :<input type="text" name="stack"></input><br />
    <input type="submit" />
</form>





<!-- <input  id="Ace"  type="checkbox" value="Ace" />
    <input  id="King"  type="checkbox" value="King" />
    <input  id="Queen" type="checkbox" value="Queen" />
    <input  id="Jack"  type="checkbox" value="Jack" />
    <input  id="10"  type="checkbox" value="10" />
    <input  id="9"  type="checkbox" value="9" />
    <input  id="8" type="checkbox" value="8" />
    <input  id="7"  type="checkbox" value="7" />
    <input  id="6"  type="checkbox" value="6" />
    <input  id="5"  type="checkbox" value="5" />
    <input  id="4" type="checkbox" value="4" />
    <input  id="3"  type="checkbox" value="3" />
    <input  id="2"  type="checkbox" value="2" /> -->